<footer class="site-footer">
  <nav class="site-footer__nav u-centered-content">
      <a asp-page="/Index" tabindex="0">Home</a>
      <a asp-page="/Maps" tabindex="0">Maps</a>
      <a asp-page="/Faq" tabindex="0">FAQ</a>
      <a asp-page="/Contact" tabindex="0">Contact</a>
      <a href="" tabindex="0">API</a>
      <a asp-page="/Signin" tabindex="0">Sign In</a>
  </nav>
  <hr class="site-footer__hr" />
  <nav class="site-footer__social-nav u-centered-content">
    <a href="https://github.com/OpenRA/OpenRA-Resources" class="color--github" tabindex="0">
      GitHub
      &nbsp;
      <svg class="icon">
        <use xlink:href="/images/icons/icons.svg#icon-github"></use>
      </svg>
    </a>
    <a href="https://discord.openra.net/" class="color--discord" tabindex="0">
      Discord
      &nbsp;
      <svg class="icon">
        <use xlink:href="/images/icons/icons.svg#icon-discord"></use>
      </svg>
    </a>
    <a href="" class="color--rss" tabindex="0">
      RSS
      &nbsp;
      <svg class="icon">
        <use xlink:href=""></use>
      </svg>
    </a>
  </nav>
  <hr class="site-footer__hr" />
  <div class="site-footer__main u-centered-content">
    <a href="/">
      <img class="site-footer__logo" src="/images/openra-logo-with-text.svg" alt="OpenRA" />
    </a>
    <span class="site-footer__legal">Copyright ©2007-2020 The OpenRA Developers (<a href="/legal">Legal notices</a>)</span>
  </div>
</footer>