<header class="site-header">
  <div class="site-header__main u-centered-content">
    <button class="site-header__menu-toggle" aria-label="Open Site Menu">
      <svg class="icon">
        <use xlink:href="/images/icons/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <a href="/">
      <img 
        class="site-header__logo"
        src="/images/openra-logo-with-text.svg"
        alt="OpenRA" />
    </a>
  </div>
  <hr class="site-header__hr" />
  <div class="site-header__sub u-centered-content">
    <button class="site-header__menu-close" aria-label="Close Site Menu">
      <svg class="icon">
        <use xlink:href="/images/icons/icons.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="site-header__nav">
      <a asp-page="/Index" tabindex="0">Home</a>
      <a asp-page="/Maps" tabindex="0">Maps</a>
      <a asp-page="/Faq" tabindex="0">FAQ</a>
      <a asp-page="/Contact" tabindex="0">Contact</a>
      <a href="" tabindex="0">API</a>
      <a asp-page="/Signin" tabindex="0">Sign In</a>
    </nav>
    <nav class="site-header__social-nav">
      <a href="https://github.com/OpenRA/OpenRA-Resources" tabindex="0">
        <span class="text--hidden">GitHub</span>
        <svg class="icon">
          <use xlink:href="/images/icons/icons.svg#icon-github"></use>
        </svg>
      </a>
      <a href="https://discord.openra.net/" tabindex="0">
        <span class="text--hidden">Discord</span>
        <svg class="icon">
          <use xlink:href="/images/icons/icons.svg#icon-discord"></use>
        </svg>
      </a>
      <a href="https://resource.openra.net/news/feed.rss" class="color--rss" tabindex="0">
      RSS
      <svg class="icon">
        <use xlink:href=""></use>
      </svg>
    </a>
    </nav>
  </div>
</header>