@page
@model MapsModel
@{
    ViewData["Title"] = "Contact";
}
<section class="site-section u-centered-content">
<h1>@ViewData["Title"]</h1>

<p>If you need the admin/maintainer of this site, contact jabbathehutt101 at the <a href="https://discord.openra.net/">OpenRa discord server</a>.</p>

</section>