@page
@model MapsModel
@{
    ViewData["Title"] = "Maps";
}
<section class="site-section u-centered-content">

<h1>@ViewData["Title"]</h1>

<p>
Custom maps are stored in the user directories with sub-directories per mod.
<ul>
    <li>Windows: My Documents\OpenRA\maps\&lt;mod name&gt;\</li>
    <li>Mac OSX: ~/Library/Application Support/OpenRA/maps/&lt;mod name&gt;/</li>
    <li>Linux: ~/.openra/maps/&lt;mod name&gt;/</li>
</ul>

Example: /home/user/.openra/maps/ra/a_path_beyond.oramap
</p>

</section>