@page
@model SigninModel
@{
    ViewData["Title"] = "Signin";
}
<section class="site-section u-centered-content">
<h1>@ViewData["Title"]</h1>
<h3>Please sign in here</h3>
<form method="post">
    <input class="rc-input" placeholder="username"/> <br />
    <input class="rc-input" placeholder="password" type="password" /> <br />
    <input class="rc-input" type="submit" value="Sign In"/>
</form>
    <a href="">I forgot my password</a><br/>
    
    <a asp-page="/Signup">I'd like to create an account</a>

</section>